name: Xbox Friend Status

on:
  workflow_dispatch:        # manual run option

jobs:
  xfstatus:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run script
        env:
          API_KEY: ${{ secrets.API_KEY }}
          PA_TOKEN: ${{ secrets.PA_TOKEN }}
          PREPO_NAME: ${{ secrets.PREPO_NAME }}
        run: |
          python -u status.py